<link
    rel="stylesheet"
    type="text/css"
    media="screen"
    href="../stylesheets/navbar.css" />

<nav class="navbar">
    <div class="nav-header">
        <div class="nav-title">
            BuscaMedica
        </div>
    </div>
    <div class="nav-form">
        <form
            action="#"
            method="GET">
            
            <input
                type="text"
                name="pesquisa" />
            <input
                type="submit"
                value="Pesquisar" />
        </form>
    </div>
    <div class="nav-links">
        <a href="search.html">Início</a>
        <a href="contact.html">Contato</a>
    </div>
</nav>

<script src="../scripts/navbar.js"></script>